<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/output.css" rel="stylesheet">
</head>
<body>
   <div class="container mx-auto">
        <h1 class="text-3xl font-bold text-center m-6">
            Landing <span class="text-red-500">Page </span>!
        </h1>
        <div class="rounded overflow-hidden shadow-lg justify-items-center">
            <img class="w-full" src="/minions.jpeg" alt="minions" class="content-center">
        <div class="px-6 py-4">
            <div class="font-bold text-xl text-center mb-2">Hello World !</div>
                <p class="text-gray-700 text-base">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quam officiis libero fugit dignissimos architecto. Voluptas aperiam iure vero ipsam, nemo ipsum repudiandae laudantium soluta ut iusto aut eaque ducimus.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa saepe earum pariatur asperiores maxime ipsam reiciendis obcaecati quaerat, veritatis, nisi harum aut quidem modi error quo? Tempora repellendus facilis inventore.
                </p>
            </div>
        </div>
    </div>
</body>
</html>